@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.Spinner{
    position: absolute;
    width:100%;
    height:100%;
    background-color:$ms-color-white;
    opacity:0.5;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    .OfficeSpinner{
        z-index: 2;
        opacity: 1;
    }
}